@import "tailwindcss";


@theme inline {
    --font-playfair: var(--font-playfair);
    --font-dm-sans: var(--font-dm-sans);

    --background: 40 20% 98%;
    --foreground: 220 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 20% 10%;
    --primary: 220 20% 12%;
    --primary-foreground: 40 20% 98%;
    --secondary: 40 20% 95%;
    --secondary-foreground: 220 20% 12%;
    --muted: 40 10% 92%;
    --muted-foreground: 220 10% 45%;
    --accent: 35 90% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 40 15% 88%;
    --input: 40 15% 88%;
    --ring: 35 90% 55%;
    --radius: .5rem;
    --gradient-hero: linear-gradient(135deg, hsl(220 20% 12% / .85) 0%, hsl(220 20% 20% / .7) 100%);
    --gradient-accent: linear-gradient(135deg, hsl(35 90% 55%) 0%, hsl(30 90% 50%) 100%);
    --shadow-elegant: 0 25px 50px -12px hsl(220 20% 12% / .15);
    --shadow-card: 0 10px 40px -10px hsl(220 20% 12% / .1);
    --shadow-hover: 0 20px 60px -15px hsl(220 20% 12% / .2);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

}
html {
  scroll-behavior: smooth;
  
}

:root {
    --bg-text: #F49E16;
}

.botao-gradiente-laranja {
    display: inline-flex;
    min-width: max-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    border-radius: 9999px;

    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #ffffff;

    background: linear-gradient(to right, #fb923c, #f97316);



    transition: all 0.4s ease;
}

.botao-gradiente-laranja:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(249, 115, 22, 0.6);
    box-shadow: 0 10px 15px rgba(249, 115, 22, 0.4);
}




.btn-outline-light {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 9999px;
    border-width: 2px;
    border-color: #ffffff4d;
    padding: 1rem 2rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
    animation-duration: .3s;
}